<div class="container">
  <h2>Book Details</h2>

  <div *ngIf="book$ | async as book" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">Author: {{ book.author }}</p>
      <p class="card-text">ID: {{ book.id }}</p>
      <!-- <button (click)="editBook(book)" class="btn btn-warning">Edit</button>
      <button (click)="deleteBook(book.id)" class="btn btn-danger">Delete</button> -->
      <button (click)="back()" class="btn btn-danger">Back</button> 
    </div>
  </div>
</div>